{{#partial "estilos"}}
    <link rel="stylesheet" href="/css/guiaDeRecomendaciones.css">
    <link rel="stylesheet" href="/css/index/iniciarSesion.css">
{{/partial}}

{{#partial "nav-items"}}
    <li class="nav-item">
        <a class="nav-link" href="/admin/menu">
            <i class='bx bxs-home' title="Menú"></i>
            <span class="nav_items"> MENÚ </span>
        </a>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="/admin/organizaciones">
            <i class='bx bxs-business' title="Organizaciones"></i>
            <span class="nav_items"> ORGANIZACIONES </span>
        </a>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="/admin/agentes">
            <i class='bx bx-street-view' title="Agentes sectoriales"></i>
            <span class="nav_items"> AGENTES SECTORIALES </span>
        </a>
    </li>

    <li>
        <a class="nav-link" href="/admin/factores">
            <i class='bx bxs-leaf' title="Factores de emisión"></i>
            <span class="nav_items"> FACTORES DE EMISIÓN </span>
        </a>
    </li>
{{/partial}}