{{> admin/base-admin.hbs}}

{{#partial "titulo"}}
    <title> Menú </title>
{{/partial}}

{{#partial "estilos"}}

{{/partial}}

{{#partial "container"}}

    <div id="title_row" class="row">
        <div id="titulo" class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <h1> ¡BIENVENIDO! </h1>
        </div>
    </div>

    <div class="container">



    </div>

{{/partial}}
{{> base.hbs}}